body {
    margin: 0;
    
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    color: #6c7279;
    background-color: #000;
    }


*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container
===============================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}




/* Header
===============================*/

.header {
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    /* padding: 35px 0;*/
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid #666666;
    padding: 35px 35px;
    align-items: center;
    
}

/* Nav
===============================*/
.nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform:uppercase;
}
.nav__link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
}
.nav__link: first-child {
    margin-left: 0;
}

.nav__link:hover {
   
  opacity: 1;
}

/* Intro
===============================*/

.intro {
    height: 750px;
    
    background: url("img/Intro-bg.jpg") center no-repeat / cover; 
}







